form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
    color: #2980b9;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.alert-danger {
    background-color: #f44336;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

nav {
    background-color: #2980b9;
    color: #fff;
    padding: 5px;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }
}